/*BASE*/
HTML, BODY
{
	height: 100%;
}
.text-overflow
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.body-indent
{
	margin: 0.5em 40px;
}
#wrapper
{
	margin: 0 auto;
	height: 100%;
}
#sidebar, #content
{
	float: left;
	overflow: auto;
}
#sidebar
{
	background: #191818;
	color: #999999;
	width: 20%;
	min-height: 100%;
	height: 100%;
}
#sidebar .logo
{
	text-align: center;
	margin: 1em 0;
}
#sidebar .navigation
{
	list-style: none;
	padding: 0;
}
#sidebar .item
{
	line-height: 40px;
	border-bottom: 1px solid #2E2E2E;
	margin: 0 1.5em;
}
#sidebar .item .fa
{
	font-size: 1.5em;
	margin-right: 0.3em;
}
#sidebar .item A
{
	color: #999999;
	text-decoration: none;
}
#sidebar .active
{
	border-left: 3px solid #F33030;
	padding: 0 1.5em;
	background: #242424;
	border-bottom: none;
	margin: 0px;
}
#sidebar .active A
{
	color: #FFF;
	text-decoration: none;
	font-weight: 600;
}
#content
{
	width: 80%;
	background: #DFDFDF;
	height: 100%;
}
#content .header
{
	background: #FFF;
	margin-top: 0px;
	overflow: hidden;
	height: 80px;
}
#content .header H1
{
	float: left;
	margin: 0px 1em;
	line-height: 80px;
	font-size: 40px;
}
#content .header UL
{
	float: right;
	margin-right: 1em;
	list-style: none;
}
#content .header UL A
{
	background: #F33030;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 15px;
	line-height: 50px;
}
#content .body H2
{
	margin: 0.5em 1.3em;
	font-size: 30px;
	color: #666;
}
/*CUSTOM*/
#recent_projects
{
	list-style: none;
}
#recent_projects .title, #recent_projects .date
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#recent_projects IMG
{
	width: 100%;
}
#recent_projects LI
{
	float: left;
	width: 30%;
	margin-right: 3%;
}
#recent_projects .brief
{
	margin-top: 1em;
	width: 100%;
	display: inline-block;
}
#recent_projects .title
{
	width: 68%;
	float: left;
}
#recent_projects .date
{
	color: #666;
	float: right;
	width: 30%;
}
.project_page FORM
{
	margin: 0 1.3em;
}
.project_page FORM INPUT
{
	width: 100%;
	padding: 8px;
}
.project_page .project_items
{
	margin: 0.5em 1.3em;
	width: 100%;
	float: left;
}
.project_page .project_items .complete LABEL
{
	text-decoration: line-through;
	color: #999;
}
.project_page .project_items .checkbox
{
	width: 35px;
	text-align: center;
}
.project_page .project_items TR
{
	border: 1px solid #999;
	background: #FFF;
}
.project_page .project_items TD
{
	line-height: 35px;
}
.user_settings .label
{
	text-align: right;
	padding-right: 20px;
	font-weight: 600;
}
.user_settings INPUT
{
	padding: 8px;
	width: 290px;
}
.user_settings BUTTON
{
	padding: 8px;
}
.user_settings TD
{
	line-height: 35px;
	padding-bottom: 8px;
}
.user_settings .error
{
	color: #FF0000;
	padding-left: 15px;
}
